

  /* COMPONENT STYLES */
  .opening-hours {
    
  
    color: #fff;
  
    background-size: cover;
  
  }
  .opening-hours_day {
    color: white !important; /* Use !important to ensure it takes precedence */
  }
  
  .open {
    color: green !important;
  }
  
  .closed {
    color: white !important;
  }
 
  .opening-hours_title {
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: 600;
  }
  .opening-hours_days {
      padding: 0;
  }
  .opening-hours_day {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    list-style: none;
    border-bottom: solid 1px #FFFFFF33;
  }


  .opnhr{
    width: 100% !important;
   
  }

  .opnhr span{
    font-size: 1.5rem;
  }
  @media (min-width: 650px) {
    .opnhr{
        width: 50% !important;
       
      }
    
 }

 .rowmen {
    display: grid;
    align-items: center;
    background: #fff;
  padding: 20px;

 }

 .iconic-clock{
  width: 50px;
  display: inline-block;
  height: 10%;
 margin-top: 10px;
 }



 .fotter{
  font-size: 1.5rem !important;
  background-color: #f1f1f1 !important; 
 
 }
 .fotter h2{
  font-size: 2rem !important;
 }
.bg-white{
  background-color: #f1f1f1 !important; 
}

/**/


@media (min-width:1024px) {
  .ftrimg{
    margin-top: 28px !important;
  margin-left: 10%;
    }
    .vl {
      border-left: 3px solid #000;
      height: 150px;
   
    }
    .gglftr{
      margin-top: 50px !important;
      margin-left: 10% !important;
      color: red;
      font-size: 2.5rem !important;
    }
    .ggllog{
      margin-left: 20px !important;
      margin-top: -40px;
    }
}
.gglftr{

  color: red;
  font-size: 2.5rem !important;
}


@media (min-width:1919px) {
  .ftrimg{
  
  margin-left: 20%;
    }
  
}
@media (max-width:761px) {
  .ggllog{
    margin-left: 35%!important;
align-items: center;
margin-right: 35% !important;
  }
  
}

.frtdwn{
  font-size: 1.5rem;
}