.hostt
{
    display: flex;
    justify-content: center;
}
#prfl1, #prfl2
{
    display:inline ;
    margin-left: 15px;
}


.testi{
    background-image:url("../img/hstbg.png") !important ;
}

.form-right{
    background-image: url("../img/form-pattern.png") !important;
}

.ownr{
    color: #dd3333 !important;
    text-shadow: 2px 2px #000;
}

.prgrphha{
    text-shadow: 2px 2px #000;
   
}


@media (min-width: 1250px){
.tmpar{
    font-size: 2.5rem;

}
}


.table-approved {
    background-color: green;
  }
  
  .table-rejected {
    background-color: red;
  }
  
  .table-pending {
    background-color: orange;
  }