.hostt
{
    display: flex;
    justify-content: center;
}
#prfl1, #prfl2
{
    display:inline ;
    margin-left: 15px;
}


.testi{
    background-image:url("../img/hstbg.png") !important ;
}

.form-right{
    background-image: url("../img/form-pattern.png") !important;
}

.ownr{
    color: #dd3333 !important;
    text-shadow: 2px 2px #000;
}